@page "/Delete/{Id}"
@using MærkeDag.Data
@using System.Globalization;
@inject BirthdayDbService bdayService
@inject NavigationManager NavManager

<h3>Delete</h3>
<hr />

<form>
    <div class="row">
        <div class="cold-md-8">
            <div class="for-group">
                <label for="Id" class="control-label"><strong>ID: </strong> </label>
                <label>@obj.ID</label>
            </div>
            <div class="for-group">
                <label for="Name" class="control-label"><strong>Navn: </strong></label>
                <label>@obj.Name</label>
            </div>
            <div class="for-group">
                <label for="birthday" class="control-label"><strong>Birthday: </strong></label>
                <label>@(obj.Birthday.ToString("MMMM d, yyyy")[0].ToString().ToUpper() + obj.Birthday.ToString("MMMM d, yyyy").Substring(1))</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@DeletUser" value="Delete" />
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>

</form>

@code {

    [Parameter]

    public string Id { get; set; }

    Birth obj = new Birth();

    protected override void OnInitialized()
    {
        obj.Birthday = DateTime.Now;
       
    }

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => bdayService.GetInfoByID(Convert.ToInt32(Id)));
    }

    protected async void DeletUser()
    {
        await bdayService.DeleteUser(obj);
        NavManager.NavigateTo("Birthday");
    }
    protected async void Cancel()
    {
       NavManager.NavigateTo("Birthday");

    }
}
